.jumbotron {
    background-color: red;
}

#employee-table th,
    td {
      display: inline-block;
      width: 16.575%;
    }

.timeSchedule {
    background-color: yellow;
}

.addTrain {
    background-color: gray;
}

